@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
/* light mode */
  --primary-bg-body: #F2F2F2;
  --primary-bg-container: #FFFFFF;
  --primary-contrast: #00033D;
  --gradient-start: #0600AB;
  --gradient-end: #977DFF;

  /* dark mode */
/* --primary-bg-body: #F2F2F2;
--primary-bg-container: #FFFFFF;
--primary-contrast: #00033D;
--gradient-start: #0600AB;
--gradient-end: #977DFF; */

}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: var(--primary-bg-body);
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}


#__nuxt {
    overflow-x: hidden;
    max-width: 100vw;
}

html, body, #__nuxt {
  min-height: 100vh; 
  height: auto;     
  overflow-x: hidden;
  overflow-y: auto;
}

.main-container {
    width: 100%;
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    padding: 0 1rem;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    gap: 1rem;
}

.button-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 0.5rem;
}

.action-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border-radius: 2rem;
  color: #000;
  background-color: rgb(240, 240, 240);
  white-space: nowrap;
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent; 
  touch-action: manipulation; 
  transition: background-color 0.15s ease-in-out; 
}

button.pressed {
  background-color: rgb(226 232 240) !important; 
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

svg {
    max-width: 100%;
    height: auto;
}